@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Contact";
}

<hgroup class="title">
    <h1>@Page.Title.</h1>
    <h2>Your contact page.</h2>
</hgroup>

<section style="color: #000">
    <header>
        <h3 >Phone:</h3>
    </header>
    <p>
        <span style="color: #000"> <strong>Main:</strong></span>
        <span>425.555.0100</span>
    </p>
    <p>
        <span style="color: #000"> <strong>After Hours:</strong></span>
        <span>425.555.0199</span>
    </p>
</section>

<section style="color: #000">
    <header>
        <h3>Email:</h3>
    </header>
    <p>
        <span style="color: #000"><strong>Thomas Alain:</strong></span>
        <span><a href="mailto:Thomas.Alain@student.ufv.ca">Thomas.Alain@Student.ufv.ca</a></span>
    </p>
    <p>
        <span style="color: #000"><strong>Curtis Hildebrand:</strong></span>
        <span><a href="mailto:curtis.hildebrand@student.ufv.ca">Curtis.Hildebrand@student.ufv.ca</a></span>
    </p>

</section>

<section style="color: #000">
    <header>
        <h3>Address:</h3>
    </header>
    <p>
        One Microsoft Way<br />
        Redmond, WA 98052-6399
    </p>
</section>
<br><br>

<p>Use our Contact Form to get in touch: </p>
<a id="foxyform_embed_link_769650" href="http://www.foxyform.com/"></a>
<script type="text/javascript">
(function(d, t){
   var g = d.createElement(t),
       s = d.getElementsByTagName(t)[0];
   g.src = "http://www.foxyform.com/js.php?id=769650&sec_hash=1a1e375dc86&width=350px";
   s.parentNode.insertBefore(g, s);
}(document, "script"));
</script>
